@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700&display=swap");

body {
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "Dosis", sans-serif;
}

html {
  line-height: 0;
}

input {
  color: white;
}

.customValid:focus,
.customValid {
  border-bottom: 1px solid #4caf50 !important;
  -webkit-box-shadow: 0 1px 0 0 #4caf50 !important;
  box-shadow: 0 1px 0 0 #4caf50 !important;
}

.customInvalid:focus,
.customInvalid {
  border-bottom: 1px solid #f44336 !important;
  -webkit-box-shadow: 0 1px 0 0 #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
  border-radius: 10px;
}

.input-field > #username,
.input-field > #lPassword {
  color: #f2f2f2;
  text-shadow: rgba(3, 3, 3, 0.86);
  font-size: 1.5rem;
}

.input-field > #first_name,
.input-field > #last_name,
.input-field > #email_inline,
.input-field > #password,
.input-field > #confirmPassword {
  color: black;
  text-shadow: rgba(3, 3, 3, 0.86);
  font-size: 1.5rem;
}

.center-login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.input-align {
  padding: 0px 0.75rem;
}

.ml-20 {
  margin: 20px;
}

.modal-custom {
  width: 40%;
  max-height: 100%;
  padding: 35px;
  box-shadow: white 0 0 10px;
}

@media screen and (max-width: 800px) {
  .mlr-15 {
    margin: 0px 15px;
  }

  .modal-custom {
    width: 87%;
    padding: 10px;
  }
}
